<div class="forgot-password">
    <h1>Mot de passe oublié?</h1>
    <p>
        Veuillez remplir ces champs pour choisir un nouveau mot de passe :
    </p>

    <div class="password-input">
        <input [type]="showPassword1 ? 'text' : 'password'" placeholder="Veuillez saisir votre nouveau mot de passe">
        <i class="fa" [ngClass]="showPassword1 ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePasswordVisibility1()"></i>
    </div>

    <div class="password-input">
        <input [type]="showPassword2 ? 'text' : 'password'" placeholder="Veuillez confirmer votre nouveau mot de passe">
        <i class="fa" [ngClass]="showPassword2 ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePasswordVisibility2()"></i>
    </div>

    <button type="button" class="btn btn-warning">Valider</button><br><br>
    <a routerLink="./login">Retour à la page d'accueil</a> 
</div>