<div class="login">
    
    
<div class="login-container">
    <div class="logo">
        <img src="assets/logo.png" alt="Logo de Connexion" />
    </div>
    <!-- Connexion par email/mot de passe -->
    <div class="form-section" *ngIf="!showCodeLogin">
        
        <h2>BIENVENUE</h2>
        <p>Veuillez saisir vos informations de connexion,<br> email et mot de passe </p>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group" [ngClass]="{'invalid': isInvalid(loginForm, 'email')}">
                <label>Email</label>
                <input type="email" formControlName="email" placeholder="Entrez votre email" required />
                <p *ngIf="isInvalid(loginForm, 'email')" class="error">
                    Email invalide
                </p>
            </div>

           
            <div class="form-group" [ngClass]="{'invalid': isInvalid(loginForm, 'password')}">
                <label>Mot de passe</label>
                <div class="password-container">
                    <input 
                        type="password" 
                        formControlName="password" 
                        placeholder="Mot de passe (min 6 caractères)" 
                        required
                        [type]="passwordVisible ? 'text' : 'password'" />
                    <i 
                        class="fas fa-eye" 
                        [ngClass]="{'fa-eye-slash': !passwordVisible}"
                        (click)="togglePasswordVisibility()"></i>
                </div>
                <p *ngIf="isInvalid(loginForm, 'password')" class="error">
                    Mot de passe trop court (6 caractères minimum)
                </p>
            </div>
            <p class="forgot-password">
                <a routerLink="/forgot-password">Mot de passe oublié ?</a>
            </p>
            

            <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Se connecter</button>

            <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
            <p class="forgot-password">
                <a href="#" (click)="toggleCodeLogin(); $event.preventDefault();">Connexion par code secret</a>
            </p>
        </form>
    </div>

    <!-- Connexion par code secret -->
    <div class="form-section" *ngIf="showCodeLogin">
        <h2>BIENVENUE</h2>
        <p>Veuillez saisir votre code secret.</p>

        <form [formGroup]="codeLoginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                
                <div class="code-inputs">
                    <input type="text" maxlength="1" formControlName="code1"(keydown)="moveToNext($event, 0)" #codeInput />
                                
                    <input type="text" maxlength="1" formControlName="code2"(keydown)="moveToNext($event, 1)" #codeInput />
                                
                    <input type="text" maxlength="1" formControlName="code3"(keydown)="moveToNext($event, 2)" #codeInput />
                                
                    <input type="text" maxlength="1" formControlName="code4"(keydown)="moveToNext($event, 3)" #codeInput />
                </div>
                <p *ngIf="codeLoginForm.invalid" class="error">
                    Le code doit contenir 4 chiffres
                </p>
             </div>
            <div *ngIf="isBlocked" class="countdown-container">
                <p>Trop de tentatives ! Réessayez dans</p>
                    <div class="countdown-circle">
                        <div class="countdown-bar" [style.animationDuration]="countdownDuration + 's'"></div>
                        <span class="countdown-text">{{ countdown }}</span>
                    </div>
                <p>secondes.</p>
            </div>
                                
         
            <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
            <p class="forgot-password">
                <a href="#" (click)="toggleCodeLogin()">Retour à la connexion par email</a>
            </p>
        </form>
    </div>

    <div class="image-section">
        <img src="assets/login.png" width="850px" height="720px" alt="Image de connexion" />
    </div>
</div>
</div>
