<div class="panel">
    <h2>Contrôles</h2>
    <div class="controls-grid">
      <app-control-item
        title="Mangeoirs"
        type="feed"
        [value]="5"
        unit="kg"
        status="Statut"
        [isActive]="false">
      </app-control-item>
  
      <app-control-item
        title="Abreuvoirs"
        type="water"
        [value]="96"
        unit="%"
        status="Statut"
        [isActive]="false">
      </app-control-item>
  
      <app-control-item
        title="Lumière"
        type="light"
        status="Éteinte"
        [isActive]="false">
      </app-control-item>
    </div>
  </div>